.Topbar{

    background-color:#343a40 ;
}


.pie-footer{
    background-color : #C23C5E !important;
    color: white;
  }
  .pie-footer h6{
    font-size: 12px;
  }

  .bg-dark{
      color: #C23C5E


  }
  .fa-2x {
    color:#712B42;
    
  }

 

.card.bg-info.text-white.shadow{

  background-color:#712B42 !important;
}

.text-primary {
  color: black;
}




